/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */
body {
  background-color: white;
  font-family: "Nunito", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
  font-weight: 600;
}
header p {
  text-align: center;
  color: rgb(32, 32, 78);
  font-size: 1.4rem;
  font-weight: 300;
}

main {
  height: 80vh;
  display: flex;
  justify-content: flex-between;
  align-items: center;
}

.card {
  margin: 2rem auto;
  width: 30%;
  background-color: whitesmoke;
  padding: 1.5rem;
}

.full-width {
  width: 100%;
  object-fit: cover;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 1rem auto;
}

q {
  font-size: 2.2rem;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 1rem;
  color: rgb(241, 3, 15);
}

p {
  font-size: 1.1rem;
  line-height: 1.7;
}

span {
  color: rgb(98, 98, 98);
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}

.imgBox {
  position: relative;
}

.photos {
  position: absolute;
  background-color: rgb(241, 3, 15);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.9rem;
  left: 0;
  bottom: 0.15rem;
}

.date {
  position: absolute;
  background-color: rgb(241, 3, 15);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  right: 2rem;
  top: 2rem;
}
.date p {
  font-size: 1.3rem;
}

.flex-32 {
  flex: 0 1 32%;
}
