html {
  font-size: 16px;
}

#root {
  padding: 1rem;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

button:hover {
  cursor: pointer;
}

.button-small {
  padding: 0.45rem 1rem;
  font-size: 1rem;
}

.button-medium {
  padding: 0.55rem 1.5rem;
  font-size: 1.2rem;
}

.button-large {
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
}

.button-primary {
  background-color: rgb(8, 0, 134);
  color: white;
  border: none;
  border-radius: 0.2rem;
}

.button-secondary-disabled {
  color: gray;
  background-color: white;
  border: 2px solid gray;
  border-radius: 0.2rem;
}

/* Disabling */
.button-primary:disabled,
.button-primary:disabled:hover,
.buttonprimary:disabled:focus,
.button-secondary:disabled,
.button-secondary:disabled:hover,
.button-secondary:disabled:focus {
  cursor: not-allowed;
}

.button-secondary:disabled,
.button-secondary:disabled:hover,
.button-secondary:disabled:focus {
  background: none;
  color: gray;
  border-color: gray;
}
